.gallery-item {
  &-container {
    // display: flex;
    // flex-direction: row;
    // border: 1px solid red;
    // width: 33%;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding: 2em;
    span {
      display: flex;
      align-items: center;
      // height: 8.75em;
      // margin: 1em;
      text-align: center;
    }
    button {
      height: 2.75em;
      margin: 2em 0 0 0;
    }
    .toggle {
      display: none;
    }
    p {
      margin: 1em;
      display: flex;
      justify-content: center;
    }
  }
}
